$rally_red: #db3c16;
$rally_blue: #27BDC9;

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadowed_box {
  @include rounded-corners(5px);
  border-bottom: 1px solid #AFAFAF;
  border-right: 1px solid #CECECE;
  border-left: 1px solid #CECECE;
  border-top: 1px solid #CECECE;
}

@mixin li_shadow_border {
  border-top: 2px solid #dedede;
  border-left: 2px solid #dedede;
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  @include rounded-corners(1px);
}

@mixin flip-image {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@mixin colored-title($color) {
  background: $color;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 6px 12px;
  position: absolute;
  top: -6px;
}

@mixin flat_button($color) {
  @include rounded-corners(4px);
  background: $color;
  background: -webkit-gradient(linear,center bottom,center top,from(darken($color, 5%)),to($color));
  background: -moz-linear-gradient(90deg,darken($color, 5%),$color);

  text-shadow: darken($color, 15%) 1px 1px 0;
  border-width: 1px;
  border-style: solid;
  border-color: darken($color, 10%) darken($color, 15%) darken($color, 15%) darken($color, 10%);

  box-shadow: 1px 1px 0 lighten($color, 5%) inset;
  -moz-box-shadow: 1px 1px 0 lighten($color, 5%) inset;
  -webkit-box-shadow: 1px 1px 0 lighten($color, 5%) inset;

  color: white;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 7px 9px 6px;
}